html, body {
  background-color: white;
}


/*---------------------common properties----------------------*/

#sun,
.orbit,
.orbit + div,
.orbit + div > div,
.asteroid-disk,
.asteroid {
  position: absolute;
}

#sun,
.orbit,
.orbit + div,
.asteroid-disk{
  top: 50%;
  left: 50%;
}

.orbit + div > div {
  top: 0;
  left: 50%;
}

.orbit,
.orbit + div div,
.asteroid-disk {
  border-radius: 50%;
}

.orbit{
  box-sizing: border-box;
}


/*----------------------------SUN-------------------------------*/

#sun {
  margin-top: -50px;
  margin-left: -50px;
  height: 100px;
  width: 100px;
  background-color: #FFE477;
  border-radius: 50%;
}



/*--------------------------ANIMATIONS--------------------------*/

@keyframes orbit {
  from{transform: rotate(0deg)}
  to{transform: rotate(360deg)}
}

.orbit + div, .asteroid-disk{
  animation: orbit linear infinite;
}



