<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Space Dots</title>
        <script type="text/javascript" src="js/jquery.js">></script>
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
        <script type="text/javascript" src="js/data.js"></script>
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <canvas id="space" width="1000" height="1000"></canvas>
        <div class="container">
            <div id="sun"></div>
            <div id="mercury">
                <div class="mercury-orbit orbit"></div>
                <div class="mercury-rotation">
                  <div class="mercury-shape">
                  </div>
                </div>
            </div>
            <div id="venus">
                <div class="venus-orbit orbit"></div>
                <div class="venus-rotation">
                    <div class="venus-shape">
                </div>
            </div>
            <div id="earth">
                <div class="earth-orbit orbit"></div>
                <div class="earth-rotation">
                    <div class="earth-shape">
                        <div id="moon">
                        <div class="moon-orbit orbit"></div>
                        <div class="moon-rotation">
                            <div class="moon-shape"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="mars">
                <div class="mars-orbit orbit"></div>
                <div class="mars-rotation">
                    <div class="mars-shape"></div>
                </div>
            </div>
            <div class="asteroid-belt">
            </div>
            <div id="jupiter">
                <div class="jupiter-orbit orbit"></div>
                <div class="jupiter-rotation">
                  <div class="jupiter-shape">
                  </div>
                </div>
            </div>
            <div id="saturn">
                <div class="saturn-orbit orbit"></div>
                <div class="saturn-rotation">
                  <div class="saturn-shape">
                  </div>
                </div>
            </div>
            

            <!--
            <div class="test"></div>          
            <div id="uranus">
                <div class="uranus-orbit orbit"></div>
                <div class="uranus-rotation">
                  <div class="uranus-shape">
                  </div>
                </div>
            </div>
            <div id="neptune">
                <div class="neptune-orbit orbit"></div>
                <div class="neptune-rotation">
                  <div class="neptune-shape">
                  </div>
                </div>
            </div>
            -->

            
        </div>
    </body>
</html>