<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Space Dots</title>
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/model-cicular.css">
    </head>
    <body>
        <div class="container">
            <div class="test"><div>
            <div id="sun"></div>
            <div class="orbit planet-orbit"></div>
            <div class="planet-rotation">
              <div id="planet"></div>
            </div>
        </div>
    </body>
</html>